# Sort values and inplace parameter

In [1]:
import pandas as pd

In [8]:
pokemon = pd.read_csv("csv/Pokemon.csv",squeeze=True,encoding="ISO-8859-1",usecols=["Pokemon"])

In [11]:
pokemon.sort_values(ascending=False)

717       Zygarde
633      Zweilous
40          Zubat
569         Zorua
570       Zoroark
262     Zigzagoon
643        Zekrom
522     Zebstrika
144        Zapdos
334      Zangoose
716       Yveltal
468       Yanmega
192         Yanma
561        Yamask
715       Xerneas
177          Xatu
359        Wynaut
264       Wurmple
412      Wormadam
193        Wooper
526        Woobat
201     Wobbuffet
277       Wingull
39     Wigglytuff
292       Whismur
339      Whiscash
543    Whirlipede
546    Whimsicott
109       Weezing
69     Weepinbell
          ...
609          Axew
712       Avalugg
698       Aurorus
530        Audino
143      Articuno
303          Aron
682    Aromatisse
347       Armaldo
167       Ariados
566      Archeops
565        Archen
492        Arceus
58       Arcanine
23          Arbok
346       Anorith
180      Ampharos
590     Amoonguss
423       Ambipom
697        Amaura
333       Altaria
593     Alomomola
64       Alakazam
189         Aipom
305        Aggron
141    Aerodactyl
680     Aegislash
616      Accelgor
358         Absol
62           Abra
459     Abomasnow
Name: Pokemon, Length: 721, dtype: object

In [26]:
google = pd.read_csv("csv/google_stock_price.csv",squeeze=True)

In [27]:
google.head()

0    50.12
1    54.10
2    54.65
3    52.38
4    52.95
Name: Stock Price, dtype: float64

In [28]:
google.sort_values()

11       49.95
9        50.07
0        50.12
10       50.70
12       50.74
7        50.95
14       51.10
13       51.10
8        51.13
3        52.38
15       52.61
4        52.95
6        53.02
16       53.70
5        53.90
1        54.10
2        54.65
17       55.69
18       55.94
19       56.93
20       58.69
22       58.86
26       59.07
23       59.13
21       59.62
25       59.86
24       60.35
27       63.37
29       64.74
28       65.47
         ...
2921    750.53
2846    751.61
2931    751.72
2881    752.00
2842    752.54
2936    752.67
2932    753.20
2935    753.93
2835    755.98
2834    756.60
2851    758.09
2861    758.88
2933    759.00
2937    759.14
2845    762.37
2841    762.38
2858    762.51
2844    763.25
2882    764.65
2934    766.61
2843    766.81
2840    767.04
3006    768.79
2860    771.00
3008    771.07
3010    771.61
3007    772.88
3009    773.18
2859    776.60
3011    782.22
Name: Stock Price, Length: 3012, dtype: float64

In [29]:
google

0        50.12
1        54.10
2        54.65
3        52.38
4        52.95
5        53.90
6        53.02
7        50.95
8        51.13
9        50.07
10       50.70
11       49.95
12       50.74
13       51.10
14       51.10
15       52.61
16       53.70
17       55.69
18       55.94
19       56.93
20       58.69
21       59.62
22       58.86
23       59.13
24       60.35
25       59.86
26       59.07
27       63.37
28       65.47
29       64.74
         ...
2982    675.22
2983    668.26
2984    680.04
2985    684.11
2986    692.10
2987    699.21
2988    694.49
2989    697.77
2990    695.36
2991    705.63
2992    715.09
2993    720.64
2994    716.98
2995    720.95
2996    719.85
2997    733.78
2998    736.96
2999    741.19
3000    738.63
3001    742.74
3002    739.77
3003    738.42
3004    741.77
3005    745.91
3006    768.79
3007    772.88
3008    771.07
3009    773.18
3010    771.61
3011    782.22
Name: Stock Price, Length: 3012, dtype: float64

# Inplace

In [30]:
google.sort_values(inplace=True)

In [31]:
google.head()

11    49.95
9     50.07
0     50.12
10    50.70
12    50.74
Name: Stock Price, dtype: float64